{% extends "layout.html" %}
{% block head %}

<link rel="stylesheet" type="text/css" href="http://cdn.pydata.org/bokeh/release/bokeh-2.0.2.min.css">
<script type="text/javascript" src="http://cdn.pydata.org/bokeh/release/bokeh-2.0.2.min.js"></script>

<script src="//www.amcharts.com/lib/4/core.js"></script>
<script src="//www.amcharts.com/lib/4/maps.js"></script>
<script src="//www.amcharts.com/lib/4/geodata/worldLow.js"></script>

<script type="text/javascript"
    src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js" ></script>

{% endblock %}
{% block body %}
    <h2>Casos de COVID-19{% if selecionado is not none %}: {{ selecionado }}{% endif %}</h2>
    <hr>
    <p>Última atualização: {{ data }}</p>
    <hr>
    <form action="/casos" onchange="update_df();">
        <select id="pais" name="pais">
            {% for p in paises %}
            <option value="{{p}}" {% if p == selecionado %} selected {% endif %}> {{p}} </option>
            {% endfor %}
        </select>
        <input type="submit" value="Atualizar gráficos">
    </form>
    <hr>

    <h3>Gráficos</h3>
    <div id="mapa"></div>
    <hr>
    <div class="col-sm">
        {% for div in divs %}
        <div class="row align-items-center justify-content-aroung">
            {{ div|indent(4)|safe }}
        </div>
        <hr>
        {% endfor %}
    </div>
    {% for script in scripts %}
    {{ script|indent(4)|safe }}
    {% endfor %}

<script type="text/javascript">
    var df_paises = {{ df_paises | list | safe}};
</script>
<script type="text/javascript" src="static/celery.js"></script>
<script type="text/javascript" src="static/plots.js"></script>
{% endblock %}
