<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <link href="http://cdn.pydata.org/bokeh/release/bokeh-2.0.0.min.css" rel="stylesheet" type="text/css" >
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-2.0.0.min.js" ></script>
    <title>Coronavírus</title>
</head>
<body>
    <h1>Casos de coronavirus ao longo do tempo</h1>
    <p>Última atualização: {{ data }}</p>
    <form action="/">
        <select id="estado" name="estado">
            {% for est in estados %}
            <option value="{{est}}" {% if est == estado %} selected {% endif %}> {{est}} </option>
            {% endfor %}
        </select>
        <input type="submit" value="Atualizar gráfico">
    </form>

    <p>Gráficos:</p>
    {% for div in divs %}
    {{ div|indent(4)|safe }}
    {% endfor %}
    {% for script in scripts %}
    {{ script|indent(4)|safe }}
    {% endfor %}
</body>
</html>